header{
	margin-left: 45%;
}
body{
	background-image: url("https://img.freepik.com/vektoren-kostenlos/hintergrund-der-gradienten-netzwerkverbindung_23-2148874120.jpg?size=626&ext=jpg");
	background-repeat: revert-layer;
	color: white;
	font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
}
ul {
            list-style-type: disc;
    }
.tip {
            margin-bottom: 4%;
            margin-left: 13%;
            margin-right: 20%;
        }

section{
	margin-bottom: 10%;
	margin-top: 6%;
}
h1{
	margin-bottom: 3%;
	margin-left: 25%;
	color: gold;
}
h2{
	color: yellowgreen;
}
#phishing{
	margin-left: 35%;
	margin-bottom: 3%;
}
a{
	color: gold;
	font-weight: bold;
	;

}