header{
	margin-left: 0;
	background-color: lightblue;
}
body{
	background-color: lightpink;
	margin-left: 7%;
	margin-right: 7%;
}
#newBody{
	background-color: white;
	padding-left: 3%;
	padding-right: 3%;
	padding-top: 3%;
	
	color: black;
	font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 18px;
    border-style: solid;
    
}
ul {
            list-style-type: disc;
    }
.tip {
            margin-bottom: 4%;
            
        }

section{
	margin-bottom: 10%;
	margin-top: 1%;
}
h1{
	margin-bottom: 3%;
	margin-left: 23%;
	font-weight: bold;
}
h2{
	color: black;
}
#phishing{
	margin-left: 35%;
	margin-bottom: 3%;
}
a{
	color: red;
	font-weight: bold;
	;

}
li{
	list-style-type: square;
	margin-bottom: 5px;

}